<html>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>
  <!-- 2. Delete the app.component.html file and place a header or write your name in it. -->

  <h1>Rashmi Sharma</h1>

  <!-- 3. Make the changes in styles.css for a header and see the difference. -->
  <h2>styling in the tag</h2>

  <!-- 4. Try the interpolation with a number variable, string variable and an object of student. -->

  <div class="interpolationStud">
    <h1>Student interpolation</h1>
    Student name variable : {{studName}}<br>
    StudentID variable : {{studID}}<br>
    Object variable : <br>
    student uid: {{studObj.uid}}
    <br>
    student pwd: {{studObj.pwd}}
  </div>


  <!-- 5. Interpolation of an Insurance object with the fields policyNo, policyHoldersName, AmountOnMaturity, Nominee Name, Monthly EMI to be paid, duration of the policy. -->
  <div class="interpolationPolicy">
    <h1>Details about your insurance</h1>
    policy no.: {{policyObj.no}}
    <br>
    policy Holders Name: {{policyObj.holder}}
    <br>
    Amount On Maturity: {{policyObj.amtMaturity}}
    <br>
    Nominee Name: {{policyObj.nominee}}
    <br>
    Monthly EMI to be paid: {{policyObj.monthEmi}}
    <br>
    Duration: {{policyObj.duration}}
    <br>
  </div>

  <!-- 6.  Display the image with property binding.  Place the image in assets/images directory. -->
  <div class="imageTry">
    <h1>Image</h1>
    <img [src]="image">
  </div>

  <!-- 7. Toggle the button status using buttons. -->
  <div class="buttonToggle">
    <h1>Toggling button</h1>
    <button class="btn btn-info m-2" (click)=enBtn()>Enable</button>
    <button class="btn btn-info" (click)=disBtn()>Disable</button>
    <br><br>
    <button class="btn btn-info" [disabled]='disableBtn'>Simple button</button>
  </div>

  <!-- 8. Create a template reference variable for the verification of the email. -->
  <div class="temp">
    <h1>Template reference variable</h1>
    <input #email placeholder="Enter email">
    <button class="btn btn-info" (click)='verification(email.value)'>Verify</button>
  </div>

  <!-- 9. Create a template reference variable to have edit box and a button.  Let user enter a phone number and on click of the button call a function and in that function verify the entered phone number is of 10 digits.  If not alert the user about it.
 -->
  <div class="phone">
    <h1>Phone number validation</h1>
    <input #phone placeholder="Enter phone number">
    <button class="btn btn-info" (click)='phoneValid(phone.value)'>Verify</button>
  </div>

  <!-- 10. Perform two way data binding using name as the variable. -->
  <div class="dataBind">
    <h1>Two way data binding</h1>
    <input type="text" [(ngModel)]="varTwoWayDataBinding">
    <br>
    Given data is: {{varTwoWayDataBinding}}
  </div>


  <!-- 11. Have edit boxes.  One is for User Id and another one is for Password.  Have a button named "Login".  On click of login button, validate the data entered by the user for both userId and password.  If the UserId is your name ("Charan" for example) and pwd is "admin" then display alert box with message as "Valid user" else display "Invalid User".
 -->
  <div class="user">
    <h1>Login</h1>
    <input type=text #emal placeholder="Username">
    <input type=password #pass placeholder="Password">

    <button class='btn btn-info verify(emal.value, pass.value)'>Submit</button>
  </div>


  <!-- 12. Send a name from Parent to child using @Input. -->
  <div class="common">
    <app-child [employeeID]='employeeID' [bigBasket]=bigBasket></app-child>

  </div>

  <!-- 13. Send an Object with UserId and Password as the data from the parent to child and display the same in the child component. -->



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</body>

</html>